@model IEnumerable<Address_Book.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<div class="row mb-5">
    <div class="col-2 col-md-12">
        <a class="glass-button" asp-action="Create">Create New</a>
    </div>
</div>
<div class="glass-cf-style darkGlass boxPadding">
<table class="table">
    <thead>
        <tr>
            <th class="glass-cf-style-darkGlass">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="glass-cf-style-darkGlass"></th>
            <th class="glass-cf-style-darkGlass"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="glass-cf-style-darkGlass col col-md-11">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col">
                
            </td>
            <td class="d-flex glass-cf-style-darkGlass justify-content-center col">
                <a class="me-3" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil text-white"></i></a> 
                <a class="me-3" asp-action="Details" asp-route-id="@item.Id"> <i class="bi bi-book text-white"></i></a> 
                <a class="me-3" asp-action="EmailCategory" asp-route-id="@item.Id" tite="Send Group Email"> <i class="bi bi-envelope text-white"></i> </a> 
                <a  asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash text-danger"></i></a>
                
            </td>
        </tr>
}
    </tbody>
</table>
</div>